{# TODO(netux): add dark mode #}
{# TODO(netux): make mobile friendly #}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body, input, textarea {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0.5em 0;
}

summary {
	cursor: pointer;
}

code {
	padding: 0.2em 0.4em;
	font-size: 85%;
	border-radius: 6px;
	background-color: lightgrey;
}

dialog {
	min-width: 400px;
	min-height: 400px;
	width: 60%;
	height: 60%;
	padding: 0;
	user-select: initial;
}

dialog::backdrop {
	user-select: none;
}

@media (max-width: 768px) {
	dialog {
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		margin: 0;
		border: none;
	}

	html:has(dialog[open]) {
		overflow-y: none;
	}
}
