{% extends "_layout.html" %}
{% block head_contents %}
	<title>WEBAPP HAS VARIANT</title>
{% endblock %}
{% block body_contents %}
	<h1>List of variants</h1>

	{# TODO(netux): make UI prettier #}
	{% for (variant_group, variant_hints) in variants.items() %}
		{% if variant_hints|length > 0 %}
			<h3>{{ variant_group }}</h3>
			<ul>
				{% for hint in variant_hints %}
					<li>{{ hint|replace_discord_markdown }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}

	<p><b>NOTE:</b> Direction, animation, sleep, and tiling variants also have a "soft" version (suffixes by "s" or "soft").</p>
	{# TODO(netux): add input to filter valid variants for a given tile #}
	<p><b>NOTE:</b> Some variants may not work for certain tiles.</p>
{% endblock %}
