{% extends "_layout.html" %}
{% block head_contents %}
	<title>WEBAPP IS LOADING</title>
{% endblock %}
{% block styles %}
	<style>
		{% include "_layout.css" %}

		yesscript { display: none; }
	</style>
{% endblock %}
{% block body_contents %}
	<h3>Woah there!</h3>

	<p>We are loading the resources needed to make this site work, and will get back to you in a bit.</p>

	<noscript>
		<p>Wait a minute and reload the page. Maybe all resources will be ready by then.</p>
	</noscript>

	<yesscript>
		<p>This page will automatically reload <span id="countdown">...</span></p>
	</yesscript>

	<script>
		document.styleSheets[0].addRule("yesscript", "display: initial");
	</script>
	<script>

		const countdownEl = document.getElementById("countdown");
		function renderCountdown() {
			countdownEl.innerText = countdown > 0
				? `in ${countdown} second${countdown === 1 ? "s" : ""}`
				: "now...";
		}

		let countdown = 30;
		setInterval(() => {
			countdown--;

			renderCountdown();

			if (countdown <= 0) {
				window.location.reload();
			}
		}, 1_000);

		renderCountdown();
	</script>
{% endblock %}
