<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
	<title>WEBAPP IS YOU</title>
	<meta name="description" content="A web interface based on the ROBOT IS YOU Discord bot by RocketRace (https://github.com/RocketRace/robot-is-you)">
	<meta name="author" content="Martín 'Netux' Rodriguez (https://me.netux.site)" />
	<meta name="keywords" content="BABA, BABA IS YOU, ROBOT IS YOU, Python, Flask">
	<style>
		#result {
			outline: 1px solid black;
			transform: scale(3);
			transform-origin: top left;
			image-rendering: pixelated;
			image-rendering: crisp-edges;
		}

		#error {
			background-color: #e50000;
			color: white;
			padding: 1em;
		}

		.warning {
			background-color: #fefe00;
		}

		.bg-checkerboard {
			background: repeating-conic-gradient(#b7b7b7 0% 25%, #ddd 0% 50%)
						50% / 10px 10px;
		}
	</style>
</head>
<body>
	<form id="input">
		<div>
			<label for="objects">Text:</label>
			<textarea style="display: block;" name="objects">{{ objects or "" }}</textarea>
		</div>

		<br />

		<fieldset>
			<legend>Options:</legend>

			{# TODO(netux): implement palette #}

			<div>
				<label for="use_bg">Use background:</label>
				<input name="use_bg" type="checkbox" {% if options.use_bg %}checked{% endif %} />
			</div>
			<div>
				{# TODO(netux): implement color picker based on palette instead #}
				<label for="bg_tx bg_ty">Background (tx, ty):</label>
				<input name="bg_tx" class="only-if-use_bg" style="width: 5ch;" type="number" min="0" max="6" value="{{ options.bg_tx or 0 }}" />
				<input name="bg_ty" class="only-if-use_bg" style="width: 5ch;" type="number" min="0" max="4" value="{{ options.bg_ty or 4 }}" />
			</div>

			<details>
				<summary>Advanced</summary>
				<div>
					{# TODO(netux): Figure out what this does and add description about it #}
					<label for="default_to_letters">Default to letters:</label>
					<input name="default_to_letters" type="checkbox" {% if options.default_to_letters %}checked{% endif %} />
				</div>

				<div>
					<label for="delay">Delay:</label>
					<input name="delay" style="width: 7ch;" type="number" min="1" max="1000" value="{{ options.delay or 200 }}" />
					ms
					<div id="small-delay-warning" class="warning" style="display: none;">
						A delay smaller than 20ms is rendered as much slower in most programs (e.g. browsers)
					</div>
				</div>

				<div>
					<label for="frame_count">Frame count:</label>
					<input name="frame_count" style="width: 5ch;" type="number" min="1" max="3" value="{{ options.frame_count or 3 }}" />
					frames
				</div>
			</details>

			<script>
				{
					const onlyIfUseBgEls = document.getElementsByClassName("only-if-use_bg");
					const useBgInputEl = document.getElementsByName("use_bg")[0];
					function updateOnlyIfUseBg() {
						for (const el of onlyIfUseBgEls) {
							el.disabled = !useBgInputEl.checked;
						}
					}
					useBgInputEl.addEventListener("change", updateOnlyIfUseBg);
					updateOnlyIfUseBg();
				}

				{
					const delayWarningEl = document.getElementById("small-delay-warning");
					const delayInputEl = document.getElementsByName("delay")[0];
					function updateSmallDelayWarning() {
						delayWarningEl.style.display = delayInputEl.valueAsNumber < 20 ? "initial" : "none";
					}
					delayInputEl.addEventListener("change", updateSmallDelayWarning);
					updateSmallDelayWarning();
				}
			</script>
		</fieldset>

		<input type="submit" value="Render" />
	</form>

	<hr />

	{% if error_msg is none %}
		{% if image_uuid is not none %}
			<p>Result:</p>
			<img id="result" class="bg-checkerboard" src="/results/{{ generated_tiles.uuid }}" />
		{% endif %}
	{% else %}
		<div id="error">
			<h4>Error</h4>
			<p>{{ error_msg }}</p>
		</div>
	{% endif %}
</body>
</html>
